#nam{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(https://img.freepik.com/premium-photo/happy-young-man-working-laptop-against-grey-background_132358-44184.jpg?w=826);
    background-repeat: no-repeat;background-size: contain;
    height: 90vh;
}